<header>
    <div>
        <div class="container align-items-center mb-4">
            <a href="/" class="">
                <span class="fs-4">Учи язык читая</span>
            </a>

            <nav class="">
                {% if current_user.is_authenticated %}
                  <a class="" href="{{ url_for('auth.logout') }}">Выйти</a>
                {% else %}
                  <a class="" href="{{ url_for('auth.login') }}">Войти</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>