<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(".translate").click(function(e) {
    e.preventDefault();
    var word = $(this).text();
    var originalText = $(this).data("original-text");
    var target = e.target;
    if (originalText === word) {
        $.get("/translate", {text: word}, function(translatedText) {
        $(target).text(translatedText);
        $(target).data("original-text", originalText);
        });
    } else {
        $(target).text(originalText);
        $(target).data("original-text", word);
    }
    });
});
</script>