<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(".translate").click(function(e) {
        e.preventDefault();
        var word = $(this).text();
        var originalText = $(this).data("original-text");
        var target = e.target;
        var targetOffset = $(target).offset();
    
        if (originalText === word) {
        $.get("/translate", {text: word}, function(translatedText) {
            // создаем новый элемент для отображения перевода
            var translationDiv = $('<div>').addClass('translation').text(translatedText);
            // создаем обертку для переведенного слова
            var wrapper = $('<div>').addClass('wrapper-trans');
            // позиционируем элемент под словом
            wrapper.css({
            position: 'absolute',
            top: targetOffset.top + $(target).outerHeight() + 20,
            left: targetOffset.left
            });
            // добавляем новый элемент в тело документа
            $('body').append(wrapper);
            // добавляем элемент для отображения перевода в обертку
            wrapper.append(translationDiv);
            $(target).data("original-text", originalText);
    
            // удаляем обертку и элемент для отображения перевода при клике на любой элемент на странице
            $(document).click(function(e) {
            var clickedElement = e.target;
            if (!$(clickedElement).closest('.wrapper-trans').length) {
                $('.wrapper-trans').remove();
                $(target).data("original-text", word);
                $(document).unbind('click');
            }
            });
        });
        } else {
        // удаляем элемент для отображения перевода и обертку
        $('.wrapper-trans').remove();
        $(target).data("original-text", word);
        }
    });
    });
</script>