.main-green {
    background-color: #00d1b2;
    color: white;
    height: 100%;
}

.main-green a {
  color: white;
}

.main-gray {
  background-color: #6d98ae;
  color: #d1d5db;
  height: 100%;
}

.main-gray a {
  color: #d1d5db;
}

.main-white {
  background-color: white;
  color: black;
  height: 100%;
}

.main-white a {
  color: black;
}


.color-picker {
    display: flex;
    justify-content: flex-start;
  }
  
  .color {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    outline: 1px solid #000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .color.green {
    background-color: #00d1b2;
  }
  
  .color.gray {
    background-color: #6d98ae;
  }
  
  .color.white {
    background-color: white;
  }
  
  .color:hover {
    transform: scale(1.1);
  }

  .wrapper {
    height: 85%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }

  .wrapper-trans {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(192, 32, 32, 0.2);
    border-radius: 3px;
    padding: 3px;
    z-index: 9999;
  }
  
  .translation {
    font-size: 15px;
    line-height: 1.5;
  }